.container {
    text-align: center;
    margin: 0 auto;
    max-width: 300px;
    border: 3px solid black;
    border-radius: 20px;
    padding: 10px;
    background-color: #091b34;
    font-size: 20px;
    color: #d1fff4;
}
.button{
    border-radius: 10px;
    background-color: #d1fff4;
    font-size: 24px;
    margin: 5px 5px;
}
.xButton{
    border-radius: 10px;
    background-color: #d1fff4;
    margin: 5px 5px;
}